{
  "presets": [
    [
      "env",
      {
        "exclude": ["babel-plugin-transform-async-to-generator", "babel-plugin-transform-regenerator"]
      }
    ]
  ],
  "plugins": [
    [
      "fast-async",
      {
        "spec": true,
        "compiler": { "promises": true, "generators": false }
      }
    ]
  ]
}